extends inicio 
block formulario 

h1(style="color:blue;") "Ingrese datos de Productos"
    br

form(action="/productos" method="post")
    div(class="form-group")
        label(for="nombre")
            b "Producto"
        input(id="nombre" class="form-control" type="text" name="nombre")

    div(class="form-group")
        label(for="precio")
            b "Precio"
        input(id="precio" class="form-control" type="number" name="precio")

    div(class="form-group")
        label(for="imagen")
            b "URL Imagen"
        input(id="imagen" class="form-control" type="imagen" name="imagen")

    button(class="btn btn-success mt-3 mb-5") "Enviar"