<div> 
    <h1>Chat de Ayuda</h1>
    
    <form onsubmit= "return addMessage(this)">
        <input type="text" id="username" placeholder="Tu e-mail">
        <input type="text" id="text" placeholder="Consulta">
        <input type="submit" value="Enviar"></input>
    </form>
    <div id="mensajes"></div>        
</div>